{% extends "head.html" %}
{% block content %}
<body>
<div id="container">
<!--来一段滚动的照片-->

<hr class="separator">


                                <li>
                                    <h2>Our Location</h2>
                                     <figure>
                                        <a href="contact.html"><img src="images/three1.jpg" alt=""></a>
                                    </figure>
                                    <h3>donation place - Scarborough</h3>
                                  <p>1295 militarary trail<br>
                                  Scarborough, ON  <br>
									000 000-0000</p>

                               </li>
</div>
</body>
{% endblock %}