
<link rel='stylesheet' href='../static/main.css' type='text/css' media='all' />
<div id="footer-wrapper">
                <footer id="footer">

                    <!-- Footer Menu -->
                    <nav id="footer-menu">
                        <ul id="menu-footer-menu" class="clearfix">
                            <li class="menu-item"><a href="{url_for('index')}">Home</a></li>
                            <li class="menu-item"><a href="{url_for('about')">about us</a></li>
                            <li class="menu-item"><a href="{url_for('image')">Images of ukraine</a></li>
                            <li class="menu-item"><a href="{url_for('contact')">Contact us</a></li>
                        </ul>
                    </nav>
                    <p class="copyright">Copyright © 2023 donating fund team. All rights reserved. </p>
                    <button type="button" href="admin.html"> admin</button>


              </footer>
            </div>