
<!doctype html>


     <head>
        <!-- META TAGS -->
        <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="ukraine donation">

        <title>Welcome To donation site </title>

        <!-- FAVICON -->
        <link rel="shortcut icon" href="icon.jpg" />


        <!-- Google Web Fonts-->


        <!-- Style Sheet-->=
        <link rel='stylesheet' href='../static/main.css' type='text/css' media='all' />




 <script>


</script>
    </head>
    <body>
        <!-- Start wrap -->
        <div id="page-content-wrap">

            <!-- Start Header -->
            <div id="header-wrapper">

                <header id="header">



                    <!--Left Menu -->
                    <nav class="main-menu left clearfix">
                        <div class="menu-left-main-menu-container">
                            <ul id="menu-left-main-menu" class="clearfix">
                                <li class="menu-item"><a href="{{ url_for('home') }}"> home</a></li>
                                <li class="menu-item"><a href="{{ url_for('about') }}">about us</a></li>



                            </ul>
                        </div>
                    </nav>

                    <!-- Header Logo -->

                    <!-- Right Menu -->
                    <nav class="main-menu right clearfix">
                        <div class="menu-right-main-menu-container">
                            <ul id="menu-right-main-menu" class="clearfix">



                                <li class="menu-item"><a href="{{ url_for('gallary') }}"> photos in ukraine</a></li>
                            <li class="menu-item"><a href="{{ url_for('contact') }}">Contact Hours</a></li>
                           </ul>
                        </div>
                    </nav>

                </header>

            </div><!-- End Header -->
			<!-- Slider-->
            <div class="slider-wrapper">

                <div class="flexslider">

                    <ul class="slides">
                         <li><a href="#"><img src="img-demo/health_happiness.jpg" alt=""></a></li>
                        <li><a href="#"><img src="img-demo/slider5.jpg" alt=""></a></li>
                        <li><a href="#"><img src="img-demo/slider4.jpg" alt=""></a></li>
                        <li><a href="#"><img src="img-demo/slider7.jpg" alt=""></a></li>
                    </ul>

                </div>

            </div>
            <!--End Slider-->

            <!-- Bottom Strip -->
            <div class="bottom-strip-wrapper">
                <div class="bottom-strip">
                    <p>
                    	<span>last donation:{{last}}  </span>
                        <span> total donation: {{money}} </span>
                        <span> total visit:{{count}}</span>
                    </p>
                </div>
            </div>

        </div>

        {% block content %}
        {% endblock %}
    <div id="footer-wrapper">
                <footer id="footer">

                    <!-- Footer Menu -->
                    <nav id="footer-menu">
                        <ul id="menu-footer-menu" class="clearfix">
                            <li class="menu-item"><a href="{{ url_for('home') }}">Home</a></li>
                            <li class="menu-item"><a href="{{ url_for('about') }}">about us</a></li>
                            <li class="menu-item"><a href="{{ url_for('gallary') }}">Images of ukraine</a></li>
                            <li class="menu-item"><a href="{{ url_for('contact') }}">Contact us</a></li>
                        </ul>
                    </nav>
                    <p class="copyright">Copyright © 2023 donating fund team. All rights reserved. </p>
                    <button type="button" href="admin.html"> admin</button>


              </footer>
            </div>
    </body>