
<!doctype html>


     <head>
        <!-- META TAGS -->
        <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="ukraine donation">

        <title>Welcome To donation site </title>

        <!-- FAVICON -->
        <link rel="shortcut icon" href="icon.jpg" />


        <!-- Google Web Fonts-->


        <!-- Style Sheet-->
        <link rel="stylesheet" href="style.css"/>
        <link rel='stylesheet' href='../static/main.css' type='text/css' media='all' />




 <script>


</script>
    </head>
    <body>
        <!-- Start wrap -->
        <div id="page-content-wrap">

            <!-- Start Header -->
            <div id="header-wrapper">

                <header id="header">



                    <!--Left Menu -->
                    <nav class="main-menu left clearfix">
                        <div class="menu-left-main-menu-container">
                            <ul id="menu-left-main-menu" class="clearfix">
                                <li class="menu-item"><a href="index.html"> About Us</a></li>



                            </ul>
                        </div>
                    </nav>

                    <!-- Header Logo -->
                    <div id="logo">
                        <!-- Website Logo -->
                        <a href="index.html"  title="Fratelli Village Pizzeria">
                        	<img src="" alt="ukr ">
                        </a>
                    </div>

                    <!-- Right Menu -->
                    <nav class="main-menu right clearfix">
                        <div class="menu-right-main-menu-container">
                            <ul id="menu-right-main-menu" class="clearfix">



                                <li class="menu-item"><a href="gallery.html"> photos in ukraine</a></li>
                            <li class="menu-item"><a href="contact.html">Contact Hours</a></li>
                           </ul>
                        </div>
                    </nav>

                </header>

            </div><!-- End Header -->
			<!-- Slider-->
            <div class="slider-wrapper">

                <div class="flexslider">

                    <ul class="slides">
                         <li><a href="#"><img src="img-demo/health_happiness.jpg" alt=""></a></li>
                        <li><a href="#"><img src="img-demo/slider5.jpg" alt=""></a></li>
                        <li><a href="#"><img src="img-demo/slider4.jpg" alt=""></a></li>
                        <li><a href="#"><img src="img-demo/slider7.jpg" alt=""></a></li>
                    </ul>

                </div>

            </div>
            <!--End Slider-->

            <!-- Bottom Strip -->
            <div class="bottom-strip-wrapper">
                <div class="bottom-strip">
                    <p>
                    	<span>last donation:{{last}}  </span>
                        <span> total donation: {{money}} </span>
                        <span> total visit:{{count}}</span>
                    </p>
                </div>
            </div>

            <!-- Start Container -->
            <div id="container">

                <!-- Content -->
                <div class="content full-width clearfix">

                    <div class="container-top"></div>

                    <div id="main-content">

                        <section class="page-head">
                            <h1>
                                <span>Hello all people who are visiting this site!</span>
                            </h1>
                        </section>
                      <p>The ongoing conflict in Ukraine is rooted in the annexation of Crimea by Russia in 2014, which was followed by pro-Russian separatist movements in eastern Ukraine. Since then, sporadic fighting and political instability have continued to cause widespread suffering for the people of Ukraine. The conflict has resulted in the displacement of over 1.5 million people, and thousands have lost their lives.

Despite international efforts to mediate a ceasefire and find a diplomatic solution, the conflict has not yet been fully resolved. The situation remains tense, with occasional flare-ups of violence occurring in the region. The war has also had a significant economic impact on the country, exacerbating existing social and economic inequalities.

The ongoing conflict in Ukraine is a reminder of the devastating impact that war and political instability can have on the lives of ordinary people. It is essential that the international community continues to support efforts to find a peaceful resolution to the conflict and provide humanitarian aid to those impacted by the crisis. It is also crucial to hold those responsible for the violence and violations of human rights accountable for their actions.</p>

						  <p>Looking forward to receiving your fund </p>
					<p>let's pray for the ukranie</p>
					<p> donating team</p>

	<section class="page-head">
        <button type="button" href="donating.html" class="button0"> let's donate money for people in ukraine</button>
	</section>



<hr class="separator">

                        <section id="template-items">
                            <ul class="template-items clearfix">

                                <li>
                                    <h2>About donating team</h2>
                                    <figure>
                                        <a href="our-menu.html"> <img src="images/family1.jpg" alt=""></a>
                                    </figure>
                                    <h3>student with warm hearts</h3>
                                    <p> our donating team is made up of students of utsc, majorly studying in compuster science. after hearing the  news of the war in ukranie. we are shocked about it and decided to make some contribution to ukraine with our ability</p>
                                    <figure>
                                        <a href="gallery.html"> <img src="images/dad1.jpg" alt=""></a>
                                    </figure>
                                    <p> the fund we raised will be majorly used in rebuilding the basic equipment of ukraine, rebuilding the education and medical system in the war zone </p>
                              </li>

                                <li>
                                    <h2>why donating</h2>
                                    <figure>
                                      <a > <img src="images/menu1.jpg" alt=""> </a>
                                    </figure>
                                    <h3>ukraine situation</h3>
                                    <p>Ukraine has seen intense fighting since 24 February 2022. This has led to a grave humanitarian crisis, with millions of people in dire need, including those who have fled across borders and many more who are on the move inside the country or unable to leave encircled towns and cities. The United Nations and partners have been assisting vulnerable communities in the conflict-torn eastern regions for the past eight years. Now we are collectively scaling up our supplies and services to meet the massive and urgent relief and protection needs for civilians across the country.</p>
                                    <a href="https://reports.unocha.org/en/country/ukraine/" target="_blank" class="readmore">View the latest news in ukraine</a>
                                </li>

                                <li>
                                    <h2>Our Location</h2>
                                     <figure>
                                        <a href="contact.html"><img src="images/three1.jpg" alt=""></a>
                                    </figure>
                                    <h3>donation place - Scarborough</h3>
                                  <p>1295 militarary trail<br>
                                  Scarborough, ON  <br>
									000 000-0000</p>

                               </li>
                               <li>

                                  <iframe
  width="233" height="193" src="https://www.google.com/maps/place/Students+Union" allowfullscreen></iframe>
                                </li>



                            </ul>
 </section>

                        <hr class="separator">


                    </div><!-- End of Main Content-->

                    <div class="container-bottom"></div>

                </div><!-- End Content-->

            </div><!-- End Container -->

            <!-- Start Footer -->
            <div id="footer-wrapper">
                <footer id="footer">

                    <!-- Footer Menu -->
                    <nav id="footer-menu">
                        <ul id="menu-footer-menu" class="clearfix">
                            <li class="menu-item"><a href="index.html">Home</a></li>
                            <li class="menu-item"><a href="our-menu.html">Menu</a></li>
                            <li class="menu-item"><a href="gallery.html">Images</a></li>
                            <li class="menu-item"><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                    <p class="copyright">Copyright © 2023 donating fund team. All rights reserved. </p>
                    <button type="button" href="admin.html"> admin</button>


              </footer>
            </div><!-- End Footer -->

        </div><!-- End Page wrap -->

        <a href="#top" id="scroll-top"></a>


    </body>
</html>


