
            <!--End Slider-->


            <!-- Start Container -->
            {% extends 'head.html'  %}
            {%  block content %}
            <div id="container">

                <!-- Content -->
                <div class="content full-width clearfix">

                    <div class="container-top"></div>

                    <div id="main-content">

                        <section class="page-head">
                            <h1>
                                <span>Donate to Ukraine Emergency Relief Efforts</span>
                            </h1>
                        </section>


                        <!--来一组滚动的捐款照片-->
                      <p>This February marks the one year anniversary of the war in Ukraine, and your help is still needed more than ever. With no end in sight, the people of Ukraine continue to face ongoing food and water shortages, risk of physical injury, lack of medical care, and safe shelter.

Donate to help Canadian charities provide urgent aid to those impacted by the war, including Ukrainian refugees who fled their homes with few resources. You can provide medical aid, protect children’s welfare, supply safe drinking water, food, and shelter, support millions of refugees, and provide other life-saving support.

Charities are struggling with declining donations to support relief efforts in Ukraine – an 80% decrease compared to the first six months of the war. Your donations can help charities provide critical aid needed to survive this humanitarian crisis.</p>

						  <p>Looking forward to receiving your fund </p>
					<p>let's pray for the ukranie</p>
					<p> donating team</p>

	<section class="page-head">
        <button type="button" href="donating.html" class="button0"> let's donate money for people in ukraine</button>
	</section>



<hr class="separator">

                        <section id="template-items">
                            <ul class="template-items clearfix">

                                <li>
                                    <h2>why donating</h2>
                                    <figure>
                                      <a > <img src="images/menu1.jpg" alt=""> </a>
                                    </figure>
                                    <h3>ukraine situation</h3>
                                    <p>Ukraine has seen intense fighting since 24 February 2022. This has led to a grave humanitarian crisis, with millions of people in dire need, including those who have fled across borders and many more who are on the move inside the country or unable to leave encircled towns and cities. The United Nations and partners have been assisting vulnerable communities in the conflict-torn eastern regions for the past eight years. Now we are collectively scaling up our supplies and services to meet the massive and urgent relief and protection needs for civilians across the country.</p>
                                    <a href="https://reports.unocha.org/en/country/ukraine/" target="_blank" class="readmore">View the latest news in ukraine</a>
                                </li>

                                <li>
                                    <h2>Our Location</h2>
                                     <figure>
                                        <a href="contact.html"><img src="images/three1.jpg" alt=""></a>
                                    </figure>
                                    <h3>donation place - Scarborough</h3>
                                  <p>1295 militarary trail<br>
                                  Scarborough, ON  <br>
									000 000-0000</p>

                               </li>
                               <li>

                                  <iframe width="233" height="193" src="https://www.google.com/maps/place/Students+Union" allowfullscreen></iframe>
                                </li>



                            </ul>
 </section>

                        <hr class="separator">


                    </div><!-- End of Main Content-->
                </div>
            </div>
                </div>

            {% endblock %}
